[submodule "kirby"]
	path = kirby
	url = https://bastianallgeier@github.com/getkirby/cms.git
[submodule "assets/scss/kirby"]
	path = assets/scss/kirby
	url = https://github.com/getkirby/sass.git
[submodule "site/plugins/blog"]
	path = site/plugins/blog
	url = https://github.com/getkirby-extensions/blog.plugin.git
