@import "../kirby/defaults";
@import "../kirby/generic/mixins";
@import "../ui/vars";


.further-reading {
    background: #f5f5f5;
    padding: 2em;
    margin-top: 3em;
}
.further-reading h2 {
    color: $color-text;
}