/** 
 * Overwrites
 */ 

$color-primary: red;
$color-background: #fff;
$color-selection-background: red;
$color-selection-text: #fff;
$color-text: #222;

$font-family-primary: "source-sans-pro";

/** 
 * Custom variables
 */ 
